@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  margin: 0 0 31px 0;
}

.principal-bg {

  background-image : url(./img/bg.jpg);
  height           : 100vh;
  width            : 100%;
  background-size  : cover;
  background-repeat: no-repeat;
  display          : flex;
  align-items      : center;
  flex-direction   : column;

}